.container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.image-left{
    transform: rotateY(-180deg);
}

.output-text{
    text-align: justify;
    text-justify: inter-word;
    font-size: 1vw;
    
}

.output-container{
    margin-bottom: 1vw;
    height: 80vh;
    padding: 1vw;
    width: 60vw;
    border-radius: 30px;
    background-color: #22222233;
    font-family: monospace;
    font-size: 1.1rem;
}

  

.output-title {
    font-size: 1.7vw;
    font-weight: bold;
    margin-bottom: 1vw;
}

.input-container{
    width: 46vw;
    padding: 1.3vw 1vw;
    border-radius: 10px;
    background-color: #22222299;
    font-family: monospace;
    font-size: 1.1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.send-button {
    cursor: pointer;
}