/* Banner.module.css */
.banner {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgb(24, 24, 24);
    color: rgb(153, 153, 153);
    padding: 0.2vh 4vw;
    font-size: max(16px, 1.2vh);
    z-index: 9999;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.banner-text {
    flex: 1;
    text-align: center;
}

.close-button {
    cursor: pointer;
    background-color: transparent;
    border: none;

}