
.facebook {
    color: #fff;
  }
  
  .facebook:hover {
    color: #4171da;
  }
  
  .twitter {
    color: #fff;
  }
  
  .twitter:hover {
    color: #55acee;
  }
  
  .youtube {
    color: #fff;
  }
  
  .youtube:hover {
    color: #f03333;
  }
  
  .linkedin {
    color: #fff;
  }
  
  .linkedin:hover {
    color: #23a9f1;
  }
  
  .github {
    color: #fff;
  }
  
  .github:hover {
    color: #0380b9;
  }
  
  .telegram {
    color: #fff;
  }
  
  .telegram:hover {
    color: #1c6d92;
  }
  
  .instagram {
    color: #fff;

  }
  
  .instagram:hover {
    color: #b864b8;
  }
  